<div class="container">
  
    <form>
      
      
      <div class="input-group mb-3" > 
        <input type="text"  [(ngModel)]="contacto.nombres" name="nombres"
         placeholder="Buscar" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" (click)="obtenerContacto()"  type="button" 
        id="button-addon2" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16"
            height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </button>
      </div>
      
      
    </form>
    
  </div>
    
    <div>
      <h1>{{contacto.nombres}} {{contacto.apellidos}} {{contacto.fechaDeNacimiento}}</h1>
    
    </div>
    <div class="container">
      <h1 style="color: #176F9B; margin: 15px;">{{titulo}}</h1>
    </div> 
    
      <div class="contenedor">  
        <div style="background-color: #F6F6F6; width: 110px; height: 110px;" *ngFor="let contacto of contactos"
        class="listadecontactos">
        <div class="cajaparacontacto">
          <div class="row">
            <div class="col">
              <h5>{{contacto.nombres}}<br>{{contacto.apellidos}}</h5>
            </div>
            </div>
          <div class="row">
            <div class="col">
              <h6 style="color: #176F9B;">(+57) {{contacto.celular}}</h6>
            </div>
          </div>
        <div class="row">
          <div class="col">
            <button style="border: none;" (click)="delete(contacto)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
            </button>  
            <button style="border: none;" [routerLink]="['/contactos/formulariodeactualizacion/', contacto.email]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
              </svg>
            </button>           
          </div>
          
        </div>
        
        
        
      </div>
       
        
        
          
      </div>
      
      </div>
  
    
    <h1></h1>
    <h1></h1>
    <h1></h1>
    <div style=" margin-left: 130px;">
      <button class="btn btn-info" type="button" [routerLink]="['/contactos/form']" style=" margin: auto; background-color: #64CD98; width: 110px; border-radius: 30px;">
        Agregar
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add"
          viewBox="0 0 16 16">
          <path
            d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4" />
          <path
            d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
        </svg>
    
      </button>
  
    </div>
    

