body {
    margin: 0;
    padding: 0;
  }
  
  .contenido {
    padding-bottom: 60px; /* Ajusta el espacio al final para que la barra de navegación no oculte el contenido */
  }
  
  .barra-navegacion {
    position: fixed;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #006191;
  }
  
  .barra-navegacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .barra-navegacion a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  .barra-navegacion a:hover {
    background-color: #555;
  }
  